$primaryBackground: #343a40;

.side-bars {
  margin-left: 2rem;
  font-size: 2.5rem;
  background: none;
}

.side-bar {
  background-color: #343a40;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 5;
  left: -100%;
  transition: 1000 ms;
  z-index: 1;
}

.side-bar-active {
  @extend .side-bar;
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #ffff;
  color: black;
}

.side-bar-items {
  width: 100%;
  margin-top: 2rem;
}

span {
  margin-left: 16px;
}

.profile-image {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 4rem;
}

hr.solid {
  border-top: 1px solid #ffff;
}
